.filter{
    margin:  1rem auto;
    border-left: 1px solid #212121;
    .filter_Form_Select{
        margin: 0 1rem;
        width: 18rem;
    }
    h3{
        background-color: #212121;
        color: azure;
        margin-left:  1rem;
        padding: 0 1rem ;
        width: 18rem;
    }
}