.products{
    display: flex;
    padding: 1rem ;
     
    
   
    
    
    
 
   .button{
       background-color: #212121;
       border: solid ;
   }
   .cardText{
       height: 4rem;
      
     
      margin: auto 1rem;
   }
}