@import '_Header.scss';  
@import '_Footer.scss'; 
@import '_Products.scss'; 
@import '_Filter.scss'; 
@import '_Main.scss'; 
@import '_ModalProduct.scss'; 
@import '_Cart.scss'; 
@import '_CheckoutForm.scss'; 
@import '_Input.scss'; 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  #root{
    height: 100vh;
  }

  .App{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    height: 100%;
    grid-template-rows: 4rem 1fr  6rem;
  }
  

